*{padding: 0;
margin: 0;
box-sizing: border-box;}

body,html{
    background-color: rgb(184, 126, 126);
    
}

.container{width: 100%;
}

header{
    background-image: linear-gradient(to top,#DECCA8,#261C0F);
    border-end-end-radius:20px;
    border-end-start-radius: 20px;
    position: sticky;
    top: 0;
    transition: ease 0.5s;
}

header h1{text-align: center;
color: burlywood;
margin-bottom: 10px;
padding: 10px;}


nav a{
    background-color: #261C0F;
    text-decoration: none;
    padding: 15px;
    border-radius: 30px 60px;
    color: aliceblue;
    transition: background-color 0.5s;
    border: 2px solid rgba(255, 217, 0, 0.438);
}
nav a:hover{background-color: #9b8a6952;}
header .menu{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
}
div .foto{display: flex;
justify-content: center;
align-items: center;}

.mary{
background-image: url(https://i.pinimg.com/1200x/e2/5c/ce/e25ccef72db3eccb82d64bec7925d0ea.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
width: 100%;
}

.mary h2{color: rgb(121, 87, 19);
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 100px;
    text-shadow: -2px -4px 7px rgb(255, 196, 0);
    text-decoration: solid;
}

#mary img{
    max-width: 100%;
    width: 300px;
    height: 400px;
    aspect-ratio: 1/16;
    margin-top: 20px;
    margin-bottom: 20px;
transition: transform 0.5s;
border-radius: 30px 60px;

}

img:hover{transform: scale(1.05);}

.ad{   
background-image: url(https://i.pinimg.com/736x/a5/f9/f7/a5f9f7921290ecfb26735feb34ce3f53.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
}

.ad h2{
    color: rgb(80, 62, 28);
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 100px;
    text-shadow: -2px -4px 7px rgb(29, 26, 13);
    text-decoration: solid;
}

.ad img{
    max-width: 100%;
    width: 300px;
    height: 400px;
    aspect-ratio: 1/16;
    margin-top: 20px;
    margin-bottom: 20px;
transition: transform 0.5s;
border-radius: 30px 60px;
}

.la{background-image: url(https://i.pinimg.com/736x/f8/7c/6f/f87c6fceab59f17a17fe1e6c488b0e96.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;}

.la h2{color: rgb(215, 204, 184);
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
    font-size: 100px;
    text-shadow: -2px -4px 7px rgb(29, 26, 13);
    text-decoration: solid;}

.la img{max-width: 100%;
    width: 300px;
    height: 400px;
    aspect-ratio: 1/16;
    margin-top: 20px;
    margin-bottom: 20px;
transition: transform 0.5s;
border-radius: 30px 60px;
}

img{transition: border ease 0.2;
transition: box-shadow ease-out 0.2;}

img:hover{ border: 3px solid rgba(255, 213, 2, 0.504);
 box-shadow: 4px 4px 4px rgb(255, 220, 105);}